<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/main">
        <span class="glyphicon glyphicon-home"></span> paringandhi
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ng-href="#/quotes">Quotes</a></li>
        <li><a ng-href="#/beer">Beer</a></li>
        <li><a ng-href="#/movies">Movies</a></li>
        <li><a ng-href="#/mortgage">Mortgage</a></li>
        <li><a ng-href="#/apod">APOD</a></li>
        <li><a ng-href="#/music">Music</a></li>
        </ul>
    </div>
  </div>
</nav>
