body {
    background: black;
    font-weight: bold;
}

input{
    color: black;
}

.Green {
    color: green;
}

.Yellow {
    color: yellow;
}

.Red {
    color: red;
}

.beer {
    background-image: url("../../assets/images/beer-background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.quotes {
    background-image: url("../../assets/images/quotes-background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
