<br>
<br>
<div class="row">
    <form>
        <div class="form-group">
            <div class="input-group col-md-8">
                <input class="form-control input-lg" type="text" ng-model="vm.searchMovie" placeholder="Search for a movie title..." ng-keyup="vm.pressEnter($event)">
                <div class="input-group-addon">
                    <i class="fa fa-search" ng-click="vm.getMovieTitle()"></i>
                </div>
            </div>
        </div>
    </form>
</div>
<br>
<br>
<br>
<div class="row" ng-show="vm.showDetails">
    <div class="col-md-4">
        <img src="{{vm.movieInfo.Poster}}" alt="">
    </div>
    <div class="col-md-5">
        <h3>{{vm.movieInfo.Title}}</h3>
        <p>Year: {{vm.movieInfo.Year}}</p>
        <p>Rated: {{vm.movieInfo.Rated}}</p>
        <p>Plot: {{vm.movieInfo.Plot}}</p>
        <p>Director: {{vm.movieInfo.Director}}</p>
        <p>Genre: {{vm.movieInfo.Genre}}</p>
        <p>Released: {{vm.movieInfo.Released}}</p>
        <p>Runtime: {{vm.movieInfo.Runtime}}</p>
        <p>IMDB Rating: {{vm.movieInfo.imdbRating}}</p>
        <p>Rotten Tomato Rating: {{vm.movieInfo.tomatoRating}}</p>
    </div>
</div>
<div class="row" ng-show="vm.showError">
    <h2>{{vm.movieInfo.Error}}</h2>
</div>
