<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Music Player  {{vm.hoverEdit}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <img class="thumbnail img-responsive" src="{{vm.cover}}" alt="">
        <div class="text-center">
          <br>
           <i class="fa fa-play" aria-hidden="true" ng-click="vm.resumePlay()"></i>
            <i class="fa fa-pause" aria-hidden="true" ng-click="vm.pauseSong();"></i>
            <i class="fa fa-stop" aria-hidden="true" ng-click="vm.stopSong()"></i>
        </div>
    </div>
    <div class="col-md-9 playlist">
        <table class="table">
            <tr>
                <th>Artist</th>
                <th>Title</th>
            </tr>
            <tr ng-repeat="song in vm.responseData" ng-click="vm.playSong(song)">
                <td>{{song.artist}}</td>
                <td>{{song.title}}</td>
            </tr>
        </table>
    </div>
</div>
